ng-viewport {
  display: block;
}
.ng-enter {
  opacity: 0;
}
.ng-enter.ng-enter-active {
  opacity: 1;
}
.ng-animate,
.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.ng-leave {
  opacity: 0;
}
.ng-leave.ng-leave-active {
  opacity: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI',Arial
}

ul li {
    margin-left:15px;
}

html, body, body > .container {
    width:100%;
    height:100%;
}

.main-content {
    max-width:1024px;
    margin:0 auto;
    padding-top:50px;
    padding-bottom:70px;
}

.left {
    position:relative;
    float:left;
}

.right {
    position:relative;
    float:right;
}

.clear {
    clear:both;
}

.actions a {
              text-decoration:none;
              cursor:pointer;
              color:rgb(34,34,34);
}

.component {
    margin-left:10px;
}
.about > div {
           margin-top:30px;
       }
.app-bar {
    background: none repeat scroll 0 0 #222222;
    bottom: 0;
    height: 70px;
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    color:rgb(221,221,221);
}

.app-bar > div {
    max-width:1024px;
    margin:0 auto;
    text-align:center;
}
.app-bar-button {
    display:inline-block;
    margin-top:10px;
    cursor:pointer;
    padding-right:7.5px;
    padding-left:7.5px;
}

.app-bar-button.disabled a {
    color:rgb(72, 72, 72);
}
.app-header {
    background-color: rgb(34,34,34);
    height: 50px;
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(34,34,34);  
    width:100%;    
    color:rgb(221,221,221);
    position: fixed;
    top:0px;
}


.app-header h1, .app-header ul, .app-header ul li {
    float:left;
    display:inline-block;
    margin-left:10px;    
}

.app-header .username {
    float:right;
    display:inline-block;
    margin-right:10px;    
}

.app-header h1 {    
    line-height:50px;
    vertical-align:middle;
}


.app-header ul li a, .app-header a {
                color:rgb(221,221,221);
                text-decoration:none;
                display:inline-block;
                line-height:50px;
                vertical-align:middle;
                margin-right:10px;
}

.app-header > div {
                  max-width:1024px;
                  margin:0 auto;
              }

.app-header .hamburger-button {
    margin-top:13px;
    display:none;
    margin-right:10px;  
    background: #222;
    border-color:#222;
}

.app-header .hamburger-button > div {
    background-color:#ddd;
}

@media(max-width: 500px) {
    .app-header ul, .app-header .username {
        display:none;
    }

    .app-header .hamburger-button {
        display:inline-block;
    }

}
.hamburger-button {
    width:20px;
    height:24px;
    background: linear-gradient(#ffffff,#dddddd);
    border: #aaaaaa 1px solid;
    border-radius: 2px;
    padding: 2px 5px;
    cursor:pointer;
}

.hamburger-button > div {
    width: 20px;
    height: 4px;
    background: #333;
    margin: 3px 0;
    border-radius: 4px;
}
.work-spinner {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;

    display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
    text-align:center;

    background-color: rgba(0,0,0,.2);

    z-index:9999;
    transition: all 300ms linear;
}



.work-spinner img {
    margin:0 auto;
}


.work-spinner i {
    margin:0 auto;
    font-size:10em;
    color:black;
}
.login-form {

}
h1.completed {
    text-decoration:line-through;
}
.to-do-items h1 {
    font-weight:500;
}