<div class="about">    
    <div>
        
        
        <h1>Overview</h1>

        <p>
            The purpose of this project is to:
            <ul>
                <li>Implement the new Angular 1.4+ component lifecycle</li>
                <li>Implement an pluggable Persistance and storage layer that can connect to Microsoft Excel or Entity Framework.</li>
            </ul>
        </p>
        
    </div>
    
    <div>
        <h1>Pluggable ORM Layer: Leveraging Microsoft Excel</h1>
        <p>
            The boundary between the API and the Data Infrastructer is ToDoRepository. The ToDoRepository implements the IRepository interface.
        </p>
    </div>
    
    <div>
        <h1>Application Lifecycle</h1>
        <p>
            Angular 1.4+ implements a new component lifecycle where a controller has a few methods it can implement to opt in to the component lifecycle.
        </p>
    </div>

</div>